<!-- <div my-module title="about"></div> -->
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ><a ng-href="/">Home</a></li>
    <li><a ng-href="#/pricing">Pricing</a></li>
    <li class="active"><a ng-href="#">About</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
  </ul>
  <div class="logo"></div>
</div>

<!-- <h1> About Us</h1>
<p>
  Started by Danny, The bad'est G in Town. (Short Company Desc?)
</p>
<div class="row marketing">
  <h4>What We Do(?)</h4>
  <p>
    Brinigng billboards and communities together, blah blah blah
  </p>

  <h4>How we can help?</h4>
  <p>
    The benefits of billboards and what you get with us.
  </p>
</div> -->

<div class="footer">
  <p>IKONIC Billboards, Ltd.</p>
</div>
