<!-- <div nav title="contact"></div> -->
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/home">Home</a></li>
    <li class="active"><a ng-href="#/pricing">Pricing</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">IKONIC</h3>
</div>

<div class="row marketing">
  <h4>Regular Rates</h4>
  <p>
    Regular RAte Info
  </p>

  <h4>Community Rates</h4>
  <p>
    Disconted community rates, etc
  </p>

</div>

<div class="footer">
  <p>IKONIC Billboards, Ltd.</p>
</div>
